* {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(to top, #FBE4D6, blue);
}

body .edit-container {
    text-align: left;
    height: auto;
    width: 30%;
    background: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.edit-container .form-group {
    position: relative;
}

.form-group i {
    padding-right: 5px;
    color: black;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 500;
    color: black;
}


.form-group input {
    position: relative;
    width: 96%;
    height: 40px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding-left: 10px;
    font-size: 15px;
}

.form-group input:focus {
    outline: none;
}

.edit-container button {
    height: 30px;
    width: 20%;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 2px;
    border-radius: 8px;
    border: none;
    color: white;
    background: linear-gradient(to top, #FBE4D6, blue);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.edit-container a {
    text-decoration: none;
    color: blue;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 2px;
    cursor: pointer;
}